.menu {
  background: #D5B0AC;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}
.menu span {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  position: relative;
  color: #402E2A;
}
.menu span:hover {
  background: #9CD08F;
  color: #FFFFFF;
  cursor: pointer;
}
.menu nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}
.menu span:hover>nav {
  display: inline-block;
}
.menu nav span {
  display: block;
  background: #D5B0AC;
}
.menu nav nav {
  top: 0%;
  left: 100%;
}
