<div class = "content">
  <p>{{question}}</p>
  <form action="{{action}}" method="post">
    <input type="submit" name="choiceYes" value="yes">
    <input type="submit" name="choiceNo" value="no">
  </form>
</div>
