<div class="question-page">
<form action="{{action}}" method="post">
<label>Asking for a friend</label>
  <div class="form-group">
    <div class="container">
    <textarea class="form-control" rows="8" name="question"></textarea>
  </div>
  </div>
  <button class="btn btn-default btn-lg" type="submit" name="ask">Send me a question!</span</button>
</form>
</div>
