<div class="question-page">
<form action="{{action}}" method="post">
  <div class="container">
    <h1>Hãy hỏi cộng đồng một câu hỏi đúng/sai hoặc có/không</h1>
    <div class="form-group">
    <textarea id ="ask" class="form-control" rows="6" maxlength="200" name="question"></textarea>
    <p class="help-block" id="counter">Còn 200/200 ký tự</p>
  </div>
  <button class="btn btn-primary" type="submit" name="ask">Gửi</span</button>
</div>
</form>
</div>
