<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Random Question Machine</title>
    <link rel="stylesheet" type="text/css" href="menu.css">
  </head>
  <body>
    <nav class="menu">
      <a href="/ask">Hỏi Nhanh</a>
      <a href="/">Đáp Gọn</a>
    </nav>

    <div class="question">
      {{{body}}}
    </div>

  </body>
</html>
