<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="utf-8">
    <title>Quyết.đê!</title>
    <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="menu.css">
  </head>

  <body>
    <nav class="menu navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button data-target='#item' data-toggle='collapse' class='navbar-toggle'>
            <span class='sr-only'>a</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <span class="navbar-brand"><a href="/">Quyết.đê</a></span>
        </div>
        <div class="collapse navbar-collapse" id="item">
          <ul class="nav navbar-nav">
            <li><a href="/ask">Hỏi nhanh</a></li>
            <li class="active"><a href="/">Đáp Gọn</a></li>
          </ul>
        </div>
    </nav>

    <div class="question">
      {{{body}}}
    </div>
    <script src="main.js"></script>
  </body>
</html>
