body {
  padding-top:150px;
}
.question {
  padding: 40px 15px;
  text-align: center;
}
.content p {
  font-size: 30px;
  margin-bottom: 60px;
}
.result {
  font-size: 30px;
  margin-bottom: 60px;
}
.question-page {
  text-align: left;
  margin-top:-120px;
}
a, a:hover {
  text-decoration: none;
  color: #ffffff;
}
